<ion-header class="spotify-header">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/inicio"></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title class="ion-text-center">Escanear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="spotify-content ion-padding">
  <ion-button class="spotify-qr-button ion-margin-top" expand="full" (click)="startScanning()">
    <ion-icon name="qr-code-outline" slot="start"></ion-icon>
    Escanear QR
  </ion-button>
</ion-content>