.spotify-header {
    --background: #121212;
    --ion-toolbar-background: #1db954; /* Verde Spotify */
    --ion-toolbar-color: #fff;
  }
  
  .spotify-content {
    --background: #121212;
    color: #fff;
  }
  
  .spotify-qr-button {
    --background: #1db954;
    --color: #fff;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 8px;
    text-transform: uppercase;
  }
  
  .spotify-qr-button ion-icon {
    font-size: 1.5em;
    margin-right: 8px;
  }
  