<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Recomendaciones</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/buscadorapi']" color="primary" class="turca-button">
        <ion-icon name="search-outline"></ion-icon> <!-- Icono de búsqueda -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-list *ngIf="recomendaciones?.length; else noRecomendaciones">
  <ion-item-sliding *ngFor="let track of recomendaciones" class="itunes-item">
    <ion-item>
      <ion-thumbnail slot="start" class="itunes-thumbnail">
        <ion-img [src]="track.artworkUrl100 || 'assets/default-album.jpg'"
          alt="Portada del álbum {{ track.collectionName }}"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2 class="track-title">{{ track.trackName }}</h2>
        <p class="track-artists">{{ track.artistName }}</p>
        <p class="track-album">{{ track.collectionName }}</p>
      </ion-label>

      <!-- Botón para reproducir vista previa -->
      <ion-button (click)="playPreview(track)" fill="clear" class="itunes-play-button" [disabled]="!track.previewUrl">
        <ion-icon name="play-circle" slot="start"></ion-icon>
        {{ track.previewUrl ? 'Reproducir' : 'No disponible' }}
      </ion-button>
    </ion-item>

    <!-- Opciones de la canción (Añadir a favoritos) -->
    <ion-item-option class="itunes-fav-button" (click)="agregarAFavoritos(track)">
      <ion-icon name="heart" slot="start"></ion-icon>
      Favorito
    </ion-item-option>
  </ion-item-sliding>
</ion-list>

<!-- Mensaje si no hay recomendaciones -->
<ng-template #noRecomendaciones>
  <ion-item>
    <ion-label>No se encontraron recomendaciones.</ion-label>
  </ion-item>
</ng-template>
