<ion-header [translucent]="true" class="spotify-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Recomendaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="spotify-content">
  <ion-refresher slot="fixed" (ionRefresh)="recargarRecomendaciones($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="recomendaciones?.length; else noRecomendaciones">
    <ion-item-sliding *ngFor="let track of recomendaciones" class="spotify-item">
      <ion-item>
        <ion-thumbnail slot="start" class="spotify-thumbnail">
          <ion-img [src]="track.album?.images[0]?.url || 'assets/default-album.jpg'"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2 class="track-title">{{ track.name }}</h2>
          <p class="track-artists">{{ track.artists | artistList }}</p>
        </ion-label>
        <ion-button 
          (click)="playPreview(track.preview_url)" 
          fill="clear" 
          class="spotify-play-button" 
          [disabled]="!track.preview_url"
        >
          <ion-icon name="play-circle" slot="start"></ion-icon>
          Reproducir
        </ion-button>
      </ion-item>
      
      <ion-item-options side="end">
        <ion-item-option class="spotify-fav-button" (click)="agregarAFavoritos(track)">
          <ion-icon name="heart" slot="start"></ion-icon>
          Favorito
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ng-template #noRecomendaciones>
    <ion-text color="medium">
      <p class="no-recommendations">No hay recomendaciones disponibles</p>
    </ion-text>
  </ng-template>

  <ion-modal [isOpen]="!!previewUrl" (didDismiss)="closePreview()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Vista previa</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closePreview()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <audio 
          #audioPlayer 
          [src]="previewUrl" 
          controls 
          autoplay
        ></audio>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
