<ion-header>
  <ion-toolbar>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mostrar el nombre de usuario -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información de Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngIf="userProfile">
        <ion-label>Usuario</ion-label>
        <ion-input [value]="userProfile.usuario" readonly></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
