<ion-header>
  <ion-toolbar class="color-principal">
      <ion-title class="ion-text-center">Vluu</ion-title>
      <!-- Botón en la orilla superior -->
      <ion-buttons slot="start">
          <ion-button [routerLink]="['/configuracion']" color="primary" class="turca-button">
              <ion-icon name="settings-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
      <h2 class="ion-text-center">Bienvenido {{ inicioUsuario }}</h2>
      <p>Registro de Canción:</p>
  </ion-text>

  <!-- Formulario de Registro -->
  <ion-item>
      <ion-input label="Nombre:" maxlength="6" [(ngModel)]="inicioPatente"></ion-input>
  </ion-item>

  <ion-item>
      <ion-input label="Artista:" [(ngModel)]="inicioMarca"></ion-input>
  </ion-item>

  <ion-item>
      <ion-input label="Año" [(ngModel)]="inicioModelo"></ion-input>
  </ion-item>

  <ion-item>
      <ion-select [(ngModel)]="inicioTipo">
          <div slot="label">Género:</div>
          <ion-select-option value="Rock">Rock</ion-select-option>
          <ion-select-option value="Pop">Pop</ion-select-option>
          <ion-select-option value="Hip-Hip">Hip-Hop</ion-select-option>
          <ion-select-option value="Rap">Rap</ion-select-option>
          <ion-select-option value="Reggaton">Reggaetón</ion-select-option>
      </ion-select>
  </ion-item>

  <ion-button class="color-principal ion-margin-top" expand="full" (click)="almacenarVehiculo()">
      Registrar
  </ion-button>
  <ion-button class="color-principal ion-margin-top" expand="full" (click)="limpiarDatos()">
      Limpiar campos
  </ion-button>
  <ion-button class="ion-margin-top color-principal" expand="full" [routerLink]="['/perfil']">
      Perfil
  </ion-button>

  <!-- Nuevo Botón de Recomendaciones -->
  <ion-button class="ion-margin-top color-principal" expand="full" [routerLink]="['/recommendations']">
      <ion-icon name="musical-notes" slot="start"></ion-icon>
      Ver Recomendaciones
  </ion-button>

  <!-- Botones de Navegación -->
  <ion-button expand="full" routerLink="/chat/:id">Ir al Chat</ion-button>
  <ion-button expand="full" routerLink="/amigos">Ir a Amigos</ion-button>

  <!-- Buscador de Música -->
  <ion-text class="ion-margin-top">
      <p>Buscador de Música:</p>
  </ion-text>

  <ion-item>
      <ion-input placeholder="Buscar música..." [(ngModel)]="query" clearInput></ion-input>
      <ion-button slot="end" (click)="searchMusic()">Buscar</ion-button>
  </ion-item>

  <ion-list>
      <ion-item *ngFor="let track of results">
          <ion-thumbnail slot="start">
              <img [src]="track.artworkUrl100" />
          </ion-thumbnail>
          <ion-label>
              <h2>{{ track.trackName }}</h2>
              <p>{{ track.artistName }}</p>
          </ion-label>
      </ion-item>
  </ion-list>
</ion-content>
