/* Estilo global para toda la app */
ion-header {
    background-color: #1db954;
    /* Color verde Spotify */
    color: white;
  }
  
  ion-toolbar {
    --background: #1db954;
    /* Verde Spotify */
  }
  
  ion-title {
    font-family: 'CircularStd', sans-serif;
    /* Tipografía similar a la de Spotify */
    font-weight: 600;
    font-size: 24px;
  }
  
  ion-content {
    --background: #121212;
    /* Fondo oscuro similar a Spotify */
    color: #fff;
    font-family: 'CircularStd', sans-serif;
    /* Tipografía Spotify */
  }
  
  ion-text {
    color: #fff;
  }
  
  /* Estilos para los inputs y botones */
  ion-item {
    --background: #181818;
    /* Fondo oscuro para los formularios */
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  ion-input,
  ion-select {
    --background: #333;
    --border-radius: 8px;
    --color: white;
  }
  
  ion-input {
    font-size: 16px;
  }
  
  ion-select {
    font-size: 16px;
  }
  
  /* Estilos del botón */
  ion-button {
    --background: #1db954;
    /* Botón verde Spotify */
    --color: white;
    --border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
  }
  
  ion-button:hover {
    --background: #1aa34a;
    /* Un verde más oscuro al pasar el mouse */
  }
  
  ion-button:active {
    --background: #1a943a;
    /* Otro tono de verde al hacer clic */
  }
  
  /* Estilo para los resultados de la música */
  ion-list {
    margin-top: 20px;
  }
  
  ion-item {
    --background: #181818;
    /* Fondo oscuro */
    --border-radius: 10px;
    margin-bottom: 10px;
  }
  
  ion-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  ion-label {
    font-size: 16px;
    color: #fff;
  }
  
  ion-label h2 {
    font-weight: 600;
    font-size: 18px;
  }
  
  ion-label p {
    font-size: 14px;
    color: #b3b3b3;
  }
  
  /* Buscador de música */
  ion-input {
    --background: #333;
    --color: white;
    border-radius: 50px;
    padding: 10px;
  }
  
  ion-button[slot='end'] {
    --background: #1db954;
    /* Verde para el botón de búsqueda */
    --color: white;
    border-radius: 50%;
    padding: 10px;
  }
  
  /* Estilos para el margen superior */
  ion-margin-top {
    margin-top: 20px;
  }
  
  /* Estilo para el perfil */
  ion-button[routerLink='/perfil'] {
    --background: #333;
    --color: white;
    --border-radius: 50px;
  }
  
  ion-thumbnail img {
    border-radius: 8px;
    width: 60px;
    height: 60px;
  }
  
  /* Estilos para la barra de navegación inferior */
  .turca-button {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    padding: 10px;
    background-color: #180502;
    /* Color turca */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .turca-button ion-icon {
    font-size: 24px;
    color: white;
  }