<ion-header>
  <ion-toolbar>
    <ion-title>Chatbot de Música</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let message of messages">
      <ion-label [class]="message.isUser ? 'user-message' : 'bot-message'">
        {{ message.text }}
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Mensaje de error si el campo de entrada está vacío -->
  <ion-text color="danger" *ngIf="showErrorMessage" class="ion-margin-top error-message">
    <p class="ion-text-center">Por favor, escribe un mensaje antes de enviar.</p>
  </ion-text>

  <ion-footer>
    <ion-toolbar>
      <ion-input
        [(ngModel)]="userInput"
        placeholder="Escribe tu mensaje..."
        (keyup.enter)="sendMessage()"
        clearInput
      ></ion-input>
      <ion-button (click)="sendMessage()">Enviar</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
