<ion-header>
  <ion-toolbar class="color-principal">
      <ion-title id="tPrincipal">Vluu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="assets/images/login.png"></ion-img>

  <ion-item class="ion-margin-top">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-input label="Usuario" label-placement="floating" fill="solid" [(ngModel)]="loginUsuario" class="ion-margin-start"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
      <ion-icon name="keypad-outline"></ion-icon>
      <ion-input label="Contrasena" label-placement="floating" fill="solid" [(ngModel)]="loginContrasena" type="password" class="ion-margin-start"></ion-input>
  </ion-item>

  <ion-button class="ion-margin-top color-principal" expand="full" (click)="validarCredenciales()">Ingresar</ion-button>

  <ion-text class="ion-margin-top">
      <p class="ion-text-center" [routerLink]="['/recuperar']">Recuperar contraseña</p>
  </ion-text>

  <ion-text class="ion-margin-top">
      <p class="ion-text-center" [routerLink]="['/registro']">Registrate</p>
  </ion-text>
</ion-content>