<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="chat-title">Vluu</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/buscador']" color="primary" class="turca-button">
        <ion-icon name="search-outline"></ion-icon> <!-- Icono de búsqueda -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="chat-content">
  <ion-list>
    <ion-item *ngFor="let message of messages" class="chat-item">
      <ion-avatar slot="start">
        <img src="{{ message.avatarUrl }}" alt="{{ message.username }}" />
      </ion-avatar>
      <ion-label>
        <h2 class="chat-username">{{ message.username }}</h2>
        <p class="chat-message">{{ message.text }}</p>
        <p class="chat-time">{{ message.time }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-input 
      [(ngModel)]="newMessage" 
      placeholder="Escribe un mensaje"
      class="chat-input"
      clearOnEdit="true">
    </ion-input>
    <ion-button (click)="sendMessage()" color="primary">
      Enviar
    </ion-button>
  </ion-item>
</ion-footer>
