<ion-header>
  <ion-toolbar class="color-principal">
    <ion-title id="tPrincipal">Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="assets/images/recover.png"></ion-img>

  <!-- Input para el usuario -->
  <ion-item class="ion-margin-top">
    <ion-icon name="person-circle-outline" slot="start"></ion-icon>
    <ion-input
      label="Usuario"
      label-placement="floating"
      fill="solid"
      [(ngModel)]="usuario"
      class="ion-margin-start"
      type="text">
    </ion-input>
  </ion-item>

  <!-- Botón para validar el usuario -->
  <ion-button expand="full" class="boton-estilo ion-margin-top" (click)="validarUsuario()">
    Validar Usuario
  </ion-button>

  <!-- Mensaje de validación -->
  <ion-text color="success" class="ion-margin-top ion-text-center" *ngIf="usuarioValido">
    <p>¡Usuario validado correctamente!</p>
  </ion-text>

  <!-- Input para cambiar contraseña (solo aparece si el usuario es válido) -->
  <ion-item class="ion-margin-top" *ngIf="usuarioValido">
    <ion-icon name="keypad-outline" slot="start"></ion-icon>
    <ion-input
      label="Nueva Contraseña"
      label-placement="floating"
      fill="solid"
      [(ngModel)]="nuevaContrasena"
      type="password"
      class="ion-margin-start">
    </ion-input>
  </ion-item>

  <!-- Botón para cambiar la contraseña -->
  <ion-button expand="full" class="boton-estilo-secundario ion-margin-top" *ngIf="usuarioValido" (click)="modificarContrasena()">
    Cambiar Contraseña
  </ion-button>
</ion-content>
