<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="usuario" type="text" placeholder="Ingresa tu usuario"></ion-input>
  </ion-item>

  <ion-button expand="full" color="primary" (click)="validarUsuario()">Validar Usuario</ion-button>

  <!-- Si el usuario es válido, permitir cambiar la contraseña -->
  <ion-item *ngIf="usuario">
    <ion-label position="floating">Nueva Contraseña</ion-label>
    <ion-input [(ngModel)]="nuevaContrasena" type="password" placeholder="Ingresa tu nueva contraseña"></ion-input>
  </ion-item>

  <ion-button expand="full" color="secondary" (click)="modificarContrasena()">Cambiar Contraseña</ion-button>
</ion-content>
